@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    height: 650px;
    background-position: center center;
    background-size: cover;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-family: 'Outfit', sans-serif;
    background-color: rgba(83, 83, 83, 0.822);
}

.bbb {
    font-family: 'Outfit', sans-serif;
}