@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    overflow-x: hidden;
}

#bg {
    background-repeat: no-repeat;
    background-color: rgb(126, 126, 126); 
    background-image: linear-gradient(to bottom right, rgb(100, 99, 99), rgb(255, 255, 255));
    background-size: cover;
    height: 100%;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Outfit', sans-serif;
    background-color: rgba(83, 83, 83, 0.822);
    float: left;
    font-size: 3.5rem;
}

.bbb {
    font-family: 'Outfit', sans-serif;
}

#adatok {
    display: none;
    border-collapse: collapse;
    width: 50%;
    margin-top: 30px;
    margin: auto;
    margin-bottom: 30px;
}

#adatok th, #adatok td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
}

#katt {
    cursor: pointer;
    color: white;
    border: none;
    font-size: 20px;
}

.container {
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

th {
    font-style: initial;
}

.nyitva {
    margin-top: 10%;
}

.kep1 {
    border: 2px solid black;
    
}

.reklam {
    text-decoration: underline;
    font-style: oblique;
}

.kosar {
    float: right;
}

h2 {
    background-color: rgb(255, 51, 51);
    color: rgba(255, 255, 0, 0.884);
}


.card-img-top{
    height: 380px;
    width: 380px;
}

.card{
    width: 600px;
    height: 550px;
}

.row{
    padding: 0;
}

#oka{
    background-color: rgb(255, 255, 255);
    color: black;
}

#button-addon2{
    background-color: rgb(131, 131, 131);
}

.sav {
    background-color: rgba(70, 70, 70, 0.795);
    height: 40px;
    font-size: 25px;
    color: white;
}

.text1 {
    background-color: rgba(68, 68, 68, 0.815);
    color: white;
    width: 500px;
}

.festekek{
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: large;
}

.tools {
    border: 2px solid black;
}

.kalapacs {
    border: 2px solid black;
    border-radius: 10px;
}