@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Outfit', sans-serif;
    background-color: rgba(83, 83, 83, 0.822);
}

.bbb {
    font-family: 'Outfit', sans-serif;
}

#adatok {
    display: none;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#adatok th, #adatok td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
    border-radius: 5px;
}

#katt {
    cursor: pointer;
    padding: 10px;
    color: white;
    border: none;
}

.container {
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}